.header__section {
  margin: 3em 0 3em 0;

  .nav {
    display: flex;
    justify-content: space-between;

    .nav__logo {
      display: flex;
      align-items: center;
      text-align: center;

      &-item {
        display: inline-block;
        width: 35px;
        height: 35px;
        background-image: linear-gradient(-125deg, #8468F5 0%, #EC74E7 100%);
        border-radius: 10px;
        color: white;
        font-size: 1em;
        letter-spacing: 0;
        font-size: 1.6em;
        font-weight: bolder;
        line-height: 35px;
        margin-right: .5em;
      }

      h1 {
        font-size: 1.5em;
      }
    }

    .nav__list {
      list-style: none;

      li {
        color: white;
        display: inline-block;
        margin-right: 25px;
        font-size: 1.5em;
        font-weight: 700;

        a {
          color: white;
          text-transform: uppercase;
          text-decoration: none;
          position: relative;
          left: 0;
          top: 0;
          will-change: left, top, text-shadow;
          transition: left .2s ease, top .2s ease, text-shadow .2s ease;

          &:hover {
            cursor: pointer;
            left: -3px;
            top: -3px;
            text-shadow: 1px 3px 0 $primary-background-color;
          }
        }
      }
    }

    .nav__list-mobile {
      &:before {
        content: "";
        background: url(img/menu.svg);
        width: 35px;
        height: 35px;
        margin-right: 25px;
        position: absolute;
        right: 0;
      }
    }
  }

  .mobile__dropdown {
    width: 100%;
    display: flex;
    background: #8468F5;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1em;

    .mobile__dropdown-list {
      list-style: none;
      padding-top: 1em;
      padding-bottom: 1em;

      li {
        margin-top: 1em;
        margin-bottom: 1em;

        a {
          font-size: 2em;
          text-decoration: none;
          color: white;
          @include textShadow($primary-background-color);
        }
      }
    }
  }
}

@media (max-width: 769px) {
  .header__section {
    margin-top: 2em;
  }

  .nav__logo {
    &-item {
      margin-left: 20px;
    }

    h1 {
      display: none;
    }
  }

  .nav__list {
    display: none;
  }
}

@media (min-width: 770px) {
  .nav__list-mobile {
    display: none;
  }
}