@import "variables.scss";
@import "header.scss";
@import "content.scss";
@import "portfolio.scss";
@import "skills.scss";
@import "about.scss";
@import "contact.scss";
@import "resume.scss";
@import "spinner.scss";
@import "footer.scss";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Poppins", sans-serif;
  vertical-align: baseline;
  transition: all ease 0.2s;
}

* {
  box-sizing: border-box;
}

::selection {
  background: #111720;
  color: #fff;
}

body.stripes {
  width: 100%;
  height: 100%;
  background: url("img/yeondampark_background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.container {
  margin: 0 auto;
  max-width: 1150px;
}

.section__title {
  font-size: 2em;
  margin-bottom: 1rem;
  @include textShadow($primary-background-color);
}

.btn {
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  padding: 1.08rem 1.1rem 1.1rem 1.1rem;
  margin: 15px 0;
  text-decoration: none;
  font-family: nimbus-sans, sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1;
  color: #fff;
  background: $primary-background-color;
  border-radius: 0.375rem;
  -webkit-box-shadow: 0 0.25rem 0.43rem 0 var(--shadow-color);
  box-shadow: 0 0.25rem 0.43rem 0 var(--shadow-color);
  -webkit-transition: all 0.2s cubic-bezier(0.83, 0.16, 0.53, 0.65);
  transition: all 0.2s cubic-bezier(0.83, 0.16, 0.53, 0.65);
  text-shadow: none;
  outline: none;

  span {
    margin-left: 5px;
  }

  &:active {
    outline: none;
  }

  &:hover {
    outline: none;
    cursor: pointer;
    transform: translateY(-5px);
  }
}

@media (max-width: 769px) {
  .container {
    overflow: hidden;
  }
}
