.portfolio {
  width: 100%;
  position: relative;
  transition: all .5s ease;
  text-align: center;

  .portfolio__container {
    display: grid;
    grid-gap: 2rem 4rem;
    grid-template-columns: repeat(4, 1fr);
    padding: 4em;
    background: #fff;
    box-shadow: $box-shadow;

    .card {
      @extend %card;
      box-shadow: $box-shadow;
      max-height: 150px;

      img {
        width: 100%;
        position: relative;
        max-height: 150px;
      }

      &:hover {
        cursor: pointer;
        left: -5px;
        top: -5px;
        -webkit-box-shadow: 10px 10px 0 $primary-background-color;
        box-shadow: 10px 10px 0 $primary-background-color;
      }
    }
  }

  .portfolio__detail {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    will-change: translateY;
    margin: 0 auto;
    top: 0;
    left: 0;
    opacity: 0;
    background: #fff;
    background-color: #fafafa;
    z-index: 2;
    visibility: hidden;
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;

    .portfolio__detail-row {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: row;
      max-width: 1250px;
      margin: 0 auto;
    }

    .portfolio__detail-description {
      h1 {
        font-size: 35px;
        line-height: 2.3;
        padding: 0;
      }

      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 40px 40px;
      overflow: auto;

      .btn-group {
        display: inline-block;
        width: 100%;

        a {
          display: inline-block;
          width: 40%;
          margin-right: 10px;
        }
      }
    }

    .portfolio__detail-image {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 2em;
    }

    .portfolio__detail-stacks {
      list-style: none;
      display: flex;
      flex-wrap: wrap;

      &--item {
        margin: 10px 5px;
      }
    }

    img {
      padding: 0;
      margin: 0;
      width: 100%;
    }

    .close {
      position: absolute !important;
      top: 4% !important;
      right: 2% !important;
      color: #000;
      width: 21px;
      height: 21px;
      position: absolute;
      right: 10px;
      top: -121px;
      opacity: 1;
      z-index: 1004;
      -webkit-transition: all 0.1s ease-in-out;
      -moz-transition: all 0.1s ease-in-out;
      transition: all 0.1s ease-in-out;
    }
  }

  .portfolio__detail>* {
    opacity: 0;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }

  .portfolio__detail.open {
    visibility: visible;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    opacity: 1;
  }

  .portfolio__detail>* {
    opacity: 1;
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
  }
}

.mobile__btn-wrapper {
  a {
    margin-right: 10px;
  }
}

.tags {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.tags li {
  float: left;
}

.tag {
  font-size: .8em;
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag::before {
  background: #fafafa;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #fafafa;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: $primary-background-color;
  color: white;
}

.tag:hover::after {
  border-left-color: $primary-background-color;
}

/* Portrait and Landscape */
@media (max-width: 769px) {
  .portfolio {
    margin-top: 3em;
  }

  .portfolio__container {
    display: none !important;
  }

  .portfolio__detail-mobile {
    width: 100%;

    .card {
      width: 90%;
      margin: 2em auto;
      box-shadow: $box-shadow;
    }

    .card img {
      width: 100%;
    }
  }
}

@media (min-width: 770px) {
  .portfolio__detail-mobile {
    display: none;
  }
}