.skills {
  padding-top: 10em;
  text-align: center;

  .skills__info {
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 48px;
    position: relative;

    .skills__info-list {
      list-style: none;
      display: grid;
      grid-template-columns: 25% 25% 25% 25%;
      margin: 0 auto;
      width: 50%;
      text-align: center;

      &--item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2em;
        box-sizing: border-box;
        position: relative;


        h3 {
          margin-bottom: .5em;
        }

        i {
          font-size: 3em;
          color: $primary-background-color;
          transition: all .3s ease;

          &:hover {
            color: rgba(0, 0, 0, 0.7);
            transform: translateY(-10px);
          }
        }
      }
    }

    &:before {
      content: '';
      width: 70%;
      height: 100%;
      box-shadow: $box-shadow;
      background: white;
      position: absolute;
      border-top-left-radius: 120px;
      border-bottom-left-radius: 120px;
      border-top-right-radius: 120px;
      border-bottom-right-radius: 120px;
      bottom: -50%;
      left: 50%;
      right: 50%;
      transform: translate(-50%, -50%);
      z-index: -99;
    }
  }
}

/* Portrait and Landscape */
@media (max-width: 769px) {
  .skills {
    padding-top: 2em;
    padding-bottom: 0;
  }

  .skills__info-list {
    grid-template-columns: 50% 50% !important;
  }
}