/*
** Variables
*/
/*
** Extends
*/
.portfolio .portfolio__container .card, .about .about__container .card {
  width: 100%;
  position: relative;
  will-change: left, top, box-shadow;
  -webkit-transition: left .2s ease, top .2s ease, box-shadow .2s ease;
  transition: left .2s ease, top .2s ease, box-shadow .2s ease;
  position: relative;
  left: 0;
  top: 0; }

/*
**  Mixins
*/
.header__section {
  margin: 3em 0 3em 0; }
  .header__section .nav {
    display: flex;
    justify-content: space-between; }
    .header__section .nav .nav__logo {
      display: flex;
      align-items: center;
      text-align: center; }
      .header__section .nav .nav__logo-item {
        display: inline-block;
        width: 35px;
        height: 35px;
        background-image: linear-gradient(-125deg, #8468F5 0%, #EC74E7 100%);
        border-radius: 10px;
        color: white;
        font-size: 1em;
        letter-spacing: 0;
        font-size: 1.6em;
        font-weight: bolder;
        line-height: 35px;
        margin-right: .5em; }
      .header__section .nav .nav__logo h1 {
        font-size: 1.5em; }
    .header__section .nav .nav__list {
      list-style: none; }
      .header__section .nav .nav__list li {
        color: #231f20;
        display: inline-block;
        margin-right: 25px;
        font-size: 1.5em;
        font-weight: 700; }
        .header__section .nav .nav__list li a {
          color: #231f20;
          text-transform: uppercase;
          text-decoration: none;
          position: relative;
          left: 0;
          top: 0;
          will-change: left, top, text-shadow;
          transition: left .2s ease, top .2s ease, text-shadow .2s ease; }
          .header__section .nav .nav__list li a:hover {
            cursor: pointer;
            left: -3px;
            top: -3px;
            text-shadow: 1px 3px 0 #5065af; }
    .header__section .nav .nav__list-mobile:before {
      content: "";
      background: url(img/menu.svg);
      width: 35px;
      height: 35px;
      margin-right: 25px;
      position: absolute;
      right: 0; }
  .header__section .mobile__dropdown {
    width: 100%;
    display: flex;
    background: #8468F5;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1em;
    overflow: hidden; }
    .header__section .mobile__dropdown .mobile__dropdown-list {
      list-style: none;
      padding-top: 1em;
      padding-bottom: 1em; }
      .header__section .mobile__dropdown .mobile__dropdown-list li {
        margin-top: 1em;
        margin-bottom: 1em; }
        .header__section .mobile__dropdown .mobile__dropdown-list li a {
          font-size: 2em;
          text-decoration: none;
          color: white;
          text-shadow: 1px 2px 0 #5065af; }

@media (max-width: 769px) {
  .header__section {
    margin-top: 2em; }
  .nav__logo-item {
    margin-left: 20px; }
  .nav__logo h1 {
    display: none; }
  .nav__list {
    display: none; } }

@media (min-width: 770px) {
  .nav__list-mobile {
    display: none; } }

.content {
  margin-top: 6em;
  margin-bottom: 6em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }
  .content .content__page-home {
    width: 50%;
    position: relative; }
    .content .content__page-home h1 {
      font-size: 48px;
      font-weight: 400 !important;
      margin-bottom: 24px;
      padding-bottom: .5em;
      text-shadow: 0 0.13rem 0.13rem rgba(108, 99, 255, 0.4); }
      .content .content__page-home h1 span {
        font-weight: 600;
        text-shadow: 0 0.13rem 0.13rem rgba(108, 99, 255, 0.4); }
    .content .content__page-home p {
      color: #9DA6BA;
      margin-top: 4em;
      margin-bottom: 1em; }
    .content .content__page-home-description {
      color: #231f20 !important;
      font-size: 1.2em; }
  .content .content__image {
    width: 38%; }
    .content .content__image img {
      width: 100%;
      padding-bottom: 3em; }

@media (max-width: 769px) {
  .content {
    margin-top: 0;
    margin-bottom: 0; }
  .content__page-home {
    width: 100% !important;
    text-align: center; }
    .content__page-home h1 {
      font-size: 2em !important;
      font-weight: 700 !important;
      margin-bottom: 0 !important; }
      .content__page-home h1 span {
        font-size: 35px; }
    .content__page-home p {
      width: 80%;
      margin: 1em auto 1em auto !important; }
    .content__page-home .btn {
      width: 50%; }
  .content__image {
    display: none; } }

.portfolio {
  width: 100%;
  position: relative;
  transition: all .5s ease;
  text-align: center; }
  .portfolio .portfolio__container {
    display: grid;
    grid-gap: 2rem 4rem;
    grid-template-columns: repeat(4, 1fr);
    padding: 4em;
    background: #fff;
    box-shadow: 0 20px 36px -4px rgba(157, 166, 186, 0.4); }
    .portfolio .portfolio__container .card {
      box-shadow: 0 20px 36px -4px rgba(157, 166, 186, 0.4);
      max-height: 150px; }
      .portfolio .portfolio__container .card img {
        width: 100%;
        position: relative;
        max-height: 150px; }
      .portfolio .portfolio__container .card:hover {
        cursor: pointer;
        left: -5px;
        top: -5px;
        -webkit-box-shadow: 10px 10px 0 #5065af;
        box-shadow: 10px 10px 0 #5065af; }
  .portfolio .portfolio__detail {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    will-change: translateY;
    margin: 0 auto;
    top: 0;
    left: 0;
    opacity: 0;
    background: #fff;
    background-color: #fafafa;
    z-index: 2;
    visibility: hidden;
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
    .portfolio .portfolio__detail .portfolio__detail-row {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: row;
      max-width: 1250px;
      margin: 0 auto; }
    .portfolio .portfolio__detail .portfolio__detail-description {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 40px 40px;
      overflow: auto; }
      .portfolio .portfolio__detail .portfolio__detail-description h1 {
        font-size: 35px;
        line-height: 2.3;
        padding: 0; }
      .portfolio .portfolio__detail .portfolio__detail-description .btn-group {
        display: inline-block;
        width: 100%; }
        .portfolio .portfolio__detail .portfolio__detail-description .btn-group a {
          display: inline-block;
          width: 40%;
          margin-right: 10px; }
    .portfolio .portfolio__detail .portfolio__detail-image {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 2em; }
    .portfolio .portfolio__detail .portfolio__detail-stacks {
      list-style: none;
      display: flex;
      flex-wrap: wrap; }
      .portfolio .portfolio__detail .portfolio__detail-stacks--item {
        margin: 10px 5px; }
    .portfolio .portfolio__detail img {
      padding: 0;
      margin: 0;
      width: 100%; }
    .portfolio .portfolio__detail .close {
      position: absolute !important;
      top: 4% !important;
      right: 2% !important;
      color: #000;
      width: 21px;
      height: 21px;
      position: absolute;
      right: 10px;
      top: -121px;
      opacity: 1;
      z-index: 1004;
      -webkit-transition: all 0.1s ease-in-out;
      -moz-transition: all 0.1s ease-in-out;
      transition: all 0.1s ease-in-out; }
  .portfolio .portfolio__detail > * {
    opacity: 0;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    transition: all 0.5s linear; }
  .portfolio .portfolio__detail.open {
    visibility: visible;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    opacity: 1; }
  .portfolio .portfolio__detail > * {
    opacity: 1;
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s; }

.mobile__btn-wrapper a {
  margin-right: 10px; }

.tags {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0; }

.tags li {
  float: left; }

.tag {
  font-size: .8em;
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s; }

.tag::before {
  background: #fafafa;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px; }

.tag::after {
  background: #fafafa;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0; }

.tag:hover {
  background-color: #5065af;
  color: white; }

.tag:hover::after {
  border-left-color: #5065af; }

/* Portrait and Landscape */
@media (max-width: 769px) {
  .portfolio {
    margin-top: 3em; }
  .portfolio__container {
    display: none !important; }
  .portfolio__detail-mobile {
    width: 100%; }
    .portfolio__detail-mobile .card {
      width: 90%;
      margin: 2em auto;
      box-shadow: 0 20px 36px -4px rgba(157, 166, 186, 0.4); }
    .portfolio__detail-mobile .card img {
      width: 100%; } }

@media (min-width: 770px) {
  .portfolio__detail-mobile {
    display: none; } }

.skills {
  padding-top: 10em;
  text-align: center; }
  .skills .skills__info {
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 48px;
    position: relative; }
    .skills .skills__info .skills__info-list {
      list-style: none;
      display: grid;
      grid-template-columns: 25% 25% 25% 25%;
      margin: 0 auto;
      width: 50%;
      text-align: center; }
      .skills .skills__info .skills__info-list--item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2em;
        box-sizing: border-box; }
        .skills .skills__info .skills__info-list--item h3 {
          margin-bottom: .5em; }
        .skills .skills__info .skills__info-list--item i {
          font-size: 3em;
          color: #5065af;
          transition: all .3s ease; }
          .skills .skills__info .skills__info-list--item i:hover {
            cursor: pointer;
            color: rgba(0, 0, 0, 0.7);
            transform: translateY(-10px); }
    .skills .skills__info:before {
      content: '';
      width: 70%;
      height: 100%;
      box-shadow: 0 20px 36px -4px rgba(157, 166, 186, 0.4);
      background: white;
      position: absolute;
      border-top-left-radius: 120px;
      border-bottom-left-radius: 120px;
      border-top-right-radius: 120px;
      border-bottom-right-radius: 120px;
      bottom: -50%;
      left: 50%;
      right: 50%;
      transform: translate(-50%, -50%);
      z-index: -99; }

/* Portrait and Landscape */
@media (max-width: 769px) {
  .skills {
    padding-top: 2em;
    padding-bottom: 0; }
  .skills__info-list {
    grid-template-columns: 50% 50% !important; } }

.content__page-about {
  width: 50%;
  position: relative; }
  .content__page-about h1 {
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 24px;
    text-shadow: 0 0.13rem 0.13rem rgba(108, 99, 255, 0.4); }
  .content__page-about p {
    color: #9DA6BA;
    margin-top: 2em; }
  .content__page-about--description {
    color: #231f20 !important;
    font-size: 1.2em; }
    .content__page-about--description .text-bg {
      position: relative; }
      .content__page-about--description .text-bg:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background: #8593c7;
        opacity: 70%;
        z-index: -1;
        animation: skewAnim 2s ease infinite; }

.about {
  width: 100%;
  position: relative;
  transition: all .5s ease;
  text-align: center;
  padding-top: 5em;
  padding-bottom: 10em; }
  .about .about__container {
    display: grid;
    grid-gap: 2rem 4rem;
    grid-template-columns: repeat(2, 1fr);
    padding: 4em;
    background: #fff;
    box-shadow: 0 20px 36px -4px rgba(157, 166, 186, 0.4); }
    .about .about__container .card {
      display: flex;
      background: #fbf7f5;
      justify-content: space-evenly;
      align-items: center;
      height: 200px; }
      .about .about__container .card:hover {
        left: -5px;
        top: -5px;
        -webkit-box-shadow: 10px 10px 0 #5065af;
        box-shadow: 10px 10px 0 #5065af; }
    .about .about__container .about__container-item {
      text-align: left; }
      .about .about__container .about__container-item > * {
        color: #231f20; }
      .about .about__container .about__container-item--link {
        margin-left: 5px; }
        .about .about__container .about__container-item--link a {
          color: #231f20; }

@media (max-width: 769px) {
  .content__page-about {
    width: 100% !important;
    text-align: center; }
    .content__page-about--description {
      width: 80%;
      margin: 0 auto 2em auto; }
  .content__image {
    display: none; }
  .about {
    padding: 0 !important; }
    .about .about__container {
      grid-template-columns: 100%;
      padding: 1em; } }

@keyframes skewAnim {
  0% {
    transform: rotate(0deg) scale(1); }
  25% {
    transform: rotate(-4deg) scale(1.1); }
  50% {
    transform: rotate(0deg) scale(1.1); }
  100% {
    transform: rotate(4deg) scale(1); } }

.form__area {
  padding-top: 1em;
  background: #fff;
  box-shadow: 0 20px 36px -4px rgba(157, 166, 186, 0.4);
  width: 100%;
  margin: auto; }
  .form__area .form__area-heading {
    text-align: center; }
    .form__area .form__area-heading h2 {
      font-size: 2.5em;
      text-transform: uppercase;
      color: #000; }
  .form__area form {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    padding: 2em; }
    .form__area form .input__bar {
      display: block;
      border: 1px solid #d8e4e7;
      width: 100%;
      height: 75px;
      background-color: rgba(255, 255, 255, 0.95);
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
      -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
      -moz-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
      -o-transition-property: all;
      transition-property: all;
      -o-transition-duration: .3s;
      transition-duration: .3s;
      -webkit-transition-property: all;
      -webkit-transition-duration: .3s;
      position: relative;
      margin-bottom: 2em; }
      .form__area form .input__bar .input__bar-field {
        height: 100%; }
        .form__area form .input__bar .input__bar-field .form__area-input {
          font-size: 1em;
          padding-left: 50px;
          color: #231f20;
          background: transparent;
          font-weight: 400;
          width: 100%;
          height: 100%;
          text-transform: inherit;
          letter-spacing: inherit;
          outline: none;
          border: none; }
        .form__area form .input__bar .input__bar-field .textfield {
          padding-top: 1em; }

@media (max-width: 769px) {
  .content__page-home h1 {
    font-size: 2em !important; }
  .form__area {
    width: 90% !important; }
    .form__area .form__area-heading h2 {
      font-size: 2em;
      padding-top: 1em; } }

.resume__title {
  font-size: 2em;
  text-align: center; }

.resume__container {
  padding-top: 4em;
  width: calc(100% - 10%);
  max-width: 1400px;
  margin-bottom: 4em;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center; }
  .resume__container .resume__area {
    box-shadow: 0 20px 36px -4px rgba(157, 166, 186, 0.4); }
  .resume__container .resume__page {
    height: 100% !important; }

@media (max-width: 769px) {
  .resume__container {
    padding-top: 0;
    width: 100% !important;
    max-width: 100% !important; }
  .react-pdf__Page__canvas {
    width: 90% !important;
    height: auto !important; }
  .react-pdf__Page__textContent {
    display: none !important; } }

/* Spinner CSS */
.spinner,
.spinner:before,
.spinner:after {
  width: 4px;
  height: 20px;
  background-color: palevioletred;
  border-radius: 2px; }

.spinner {
  display: inline-block;
  position: relative; }

.spinner:before,
.spinner:after {
  content: "";
  position: absolute;
  display: block;
  top: 0px; }

.spinner:before {
  left: -6px; }

.spinner:after {
  left: 6px; }

@-webkit-keyframes bounce-bottom {
  0% {
    height: 5px;
    margin-top: 15px; }
  50% {
    height: 20px;
    margin-top: 0px; }
  100% {
    height: 5px;
    margin-top: 15px; } }

@keyframes bounce-bottom {
  0% {
    height: 5px;
    margin-top: 15px; }
  50% {
    height: 20px;
    margin-top: 0px; }
  100% {
    height: 5px;
    margin-top: 15px; } }

.spinner-bounce-bottom {
  -webkit-animation: bounce-bottom 0.6s ease 0.1s infinite;
  animation: bounce-bottom 0.6s ease 0.1s infinite; }

.spinner-bounce-bottom:before,
.spinner-bounce-bottom:after {
  top: auto;
  bottom: 0px; }

.spinner-bounce-bottom:before {
  -webkit-animation: bounce-bottom 0.6s ease 0s infinite;
  animation: bounce-bottom 0.6s ease 0s infinite; }

.spinner-bounce-bottom:after {
  -webkit-animation: bounce-bottom 0.6s ease 0.2s infinite;
  animation: bounce-bottom 0.6s ease 0.2s infinite; }

footer {
  width: 100%;
  padding-top: 2em;
  position: relative; }
  footer .footer__social-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2em;
    padding: 7rem;
    position: relative; }
    footer .footer__social-container ul {
      list-style: none;
      display: flex; }
      footer .footer__social-container ul li {
        margin: 2em 1em; }
        footer .footer__social-container ul li a {
          transition: .5s ease-in; }
          footer .footer__social-container ul li a i {
            font-size: 3em;
            color: white; }
            footer .footer__social-container ul li a i:hover {
              transform: rotate(360deg); }
  footer .footer__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em; }
    footer .footer__info p {
      color: white; }

@media (max-width: 769px) {
  .footer__social-container {
    margin-top: 0;
    padding: 0 !important; }
    .footer__social-container i {
      color: #231f20 !important; }
  .footer__info {
    margin-bottom: 2em;
    padding: 0 2em; }
    .footer__info p {
      color: #231f20 !important; } }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Poppins", sans-serif;
  vertical-align: baseline;
  transition: all ease 0.2s; }

* {
  box-sizing: border-box; }

::selection {
  background: #111720;
  color: #fff; }

body.stripes {
  width: 100%;
  height: 100%;
  background: url("img/yeondampark_background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }

.container {
  margin: 0 auto;
  max-width: 1150px; }

.section__title {
  font-size: 2em;
  text-shadow: 1px 2px 0 #5065af; }

.btn {
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  padding: 1.08rem 1.1rem 1.1rem 1.1rem;
  margin: 15px 0;
  text-decoration: none;
  font-family: nimbus-sans, sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1;
  color: #fff;
  background: #5065af;
  border-radius: .375rem;
  -webkit-box-shadow: 0 0.25rem 0.43rem 0 var(--shadow-color);
  box-shadow: 0 0.25rem 0.43rem 0 var(--shadow-color);
  -webkit-transition: all 0.2s cubic-bezier(0.83, 0.16, 0.53, 0.65);
  transition: all 0.2s cubic-bezier(0.83, 0.16, 0.53, 0.65);
  text-shadow: none;
  outline: none; }
  .btn span {
    margin-left: 5px; }
  .btn:active {
    outline: none; }
  .btn:hover {
    outline: none;
    cursor: pointer;
    transform: translateY(-5px); }

@media (max-width: 769px) {
  .container {
    overflow: hidden; } }
