.portfolio .portfolio__container .card, .about .about__container .card {
  width: 100%;
  position: relative;
  will-change: left, top, box-shadow;
  -webkit-transition: left .2s ease, top .2s ease, box-shadow .2s ease;
  transition: left .2s ease, top .2s ease, box-shadow .2s ease;
  position: relative;
  left: 0;
  top: 0; }

.header__section {
  margin: 3em 0 3em 0; }
  .header__section .nav {
    display: flex;
    justify-content: space-between; }
    .header__section .nav .nav__logo {
      display: flex;
      align-items: center;
      text-align: center; }
      .header__section .nav .nav__logo-item {
        display: inline-block;
        width: 35px;
        height: 35px;
        background-image: linear-gradient(-125deg, #8468F5 0%, #EC74E7 100%);
        border-radius: 10px;
        color: white;
        font-size: 1em;
        letter-spacing: 0;
        font-size: 1.6em;
        font-weight: bolder;
        line-height: 35px;
        margin-right: .5em; }
      .header__section .nav .nav__logo h1 {
        font-size: 1.5em; }
    .header__section .nav .nav__list {
      list-style: none; }
      .header__section .nav .nav__list li {
        color: white;
        display: inline-block;
        margin-right: 25px;
        font-size: 1.5em;
        font-weight: 700; }
        .header__section .nav .nav__list li a {
          color: white;
          text-transform: uppercase;
          text-decoration: none;
          position: relative;
          left: 0;
          top: 0;
          will-change: left, top, text-shadow;
          transition: left .2s ease, top .2s ease, text-shadow .2s ease; }
          .header__section .nav .nav__list li a:hover {
            cursor: pointer;
            left: -3px;
            top: -3px;
            text-shadow: 1px 3px 0 #6c63ff; }

.content {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }
  .content .content__about h1 {
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 24px;
    text-shadow: 0 0.13rem 0.13rem rgba(108, 99, 255, 0.4); }
    .content .content__about h1 .tagline {
      text-shadow: 0 0.13rem 0.13rem rgba(108, 99, 255, 0.4); }
  .content .content__about p {
    color: #9DA6BA; }
  .content .content__image {
    width: 38%; }
    .content .content__image img {
      width: 100%; }

.portfolio {
  width: 100%;
  position: relative;
  transition: all .5s ease;
  text-align: center;
  padding-top: 8em;
  padding-bottom: 10em; }
  .portfolio .portfolio__container {
    display: grid;
    grid-gap: 2rem 4rem;
    grid-template-columns: repeat(4, 1fr);
    padding: 4em;
    background: #fff;
    box-shadow: 0 20px 36px -4px rgba(157, 166, 186, 0.4); }
    .portfolio .portfolio__container .card img {
      width: 100%;
      position: relative; }
    .portfolio .portfolio__container .card:hover {
      left: -5px;
      top: -5px;
      -webkit-box-shadow: 10px 10px 0 #6c63ff;
      box-shadow: 10px 10px 0 #6c63ff; }
  .portfolio .portfolio__detail {
    position: absolute;
    width: 100%;
    height: 100%;
    will-change: translateY;
    margin: 0 auto;
    top: 0;
    left: 0;
    opacity: 0;
    padding-top: 100px;
    background: #fff;
    background-color: #fafafa;
    z-index: 2;
    visibility: hidden;
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
    border-bottom: 1px solid #d0d0d0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
    .portfolio .portfolio__detail .portfolio__detail-row {
      display: flex;
      justify-content: space-evenly;
      flex-direction: row;
      max-width: 1250px;
      margin: 0 auto; }
    .portfolio .portfolio__detail .portfolio__detail-description {
      max-height: 100%;
      padding: 0 40px 40px;
      overflow: auto; }
      .portfolio .portfolio__detail .portfolio__detail-description h1 {
        font-size: 35px;
        line-height: 2.3;
        padding: 0; }
    .portfolio .portfolio__detail img {
      max-width: 100%;
      padding: 0;
      margin: 0;
      height: auto; }
    .portfolio .portfolio__detail .close {
      position: absolute !important;
      top: 4% !important;
      right: 2% !important;
      color: #000;
      width: 21px;
      height: 21px;
      position: absolute;
      right: 10px;
      top: -121px;
      opacity: 1;
      z-index: 1004;
      -webkit-transition: all 0.1s ease-in-out;
      -moz-transition: all 0.1s ease-in-out;
      transition: all 0.1s ease-in-out; }
  .portfolio .portfolio__detail > * {
    opacity: 0;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    transition: all 0.5s linear; }
  .portfolio .portfolio__detail.open {
    visibility: visible;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    opacity: 1; }
  .portfolio .portfolio__detail > * {
    opacity: 1;
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s; }

.portfolio {
  width: 100%;
  position: relative;
  transition: all .5s ease;
  text-align: center;
  padding-top: 8em;
  padding-bottom: 10em; }
  .portfolio .portfolio__title {
    font-size: 2em; }
  .portfolio .portfolio__container {
    display: grid;
    grid-gap: 2rem 4rem;
    grid-template-columns: repeat(4, 1fr);
    padding: 4em;
    background: #fff;
    box-shadow: 0 20px 36px -4px rgba(157, 166, 186, 0.4); }
    .portfolio .portfolio__container .card {
      width: 100%;
      position: relative;
      will-change: left, top, box-shadow;
      -webkit-transition: left .2s ease, top .2s ease, box-shadow .2s ease;
      transition: left .2s ease, top .2s ease, box-shadow .2s ease;
      position: relative;
      left: 0;
      top: 0; }
      .portfolio .portfolio__container .card img {
        width: 100%;
        position: relative; }
      .portfolio .portfolio__container .card:hover {
        left: -5px;
        top: -5px;
        -webkit-box-shadow: 10px 10px 0 #6c63ff;
        box-shadow: 10px 10px 0 #6c63ff; }
  .portfolio .portfolio__detail {
    position: absolute;
    width: 100%;
    height: 100%;
    will-change: translateY;
    margin: 0 auto;
    top: 0;
    left: 0;
    opacity: 0;
    padding-top: 100px;
    background: #fff;
    background-color: #fafafa;
    z-index: 2;
    visibility: hidden;
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
    border-bottom: 1px solid #d0d0d0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
    .portfolio .portfolio__detail .portfolio__detail-row {
      display: flex;
      justify-content: space-evenly;
      flex-direction: row;
      max-width: 1250px;
      margin: 0 auto; }
    .portfolio .portfolio__detail .portfolio__detail-description {
      max-height: 100%;
      padding: 0 40px 40px;
      overflow: auto; }
      .portfolio .portfolio__detail .portfolio__detail-description h1 {
        font-size: 35px;
        line-height: 2.3;
        padding: 0; }
    .portfolio .portfolio__detail img {
      max-width: 100%;
      padding: 0;
      margin: 0;
      height: auto; }
    .portfolio .portfolio__detail .close {
      position: absolute !important;
      top: 4% !important;
      right: 2% !important;
      color: #000;
      width: 21px;
      height: 21px;
      position: absolute;
      right: 10px;
      top: -121px;
      opacity: 1;
      z-index: 1004;
      -webkit-transition: all 0.1s ease-in-out;
      -moz-transition: all 0.1s ease-in-out;
      transition: all 0.1s ease-in-out; }
  .portfolio .portfolio__detail > * {
    opacity: 0;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    transition: all 0.5s linear; }
  .portfolio .portfolio__detail.open {
    visibility: visible;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    opacity: 1; }
  .portfolio .portfolio__detail > * {
    opacity: 1;
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s; }

.skills {
  padding-top: 3em;
  padding-bottom: 10em;
  text-align: center; }
  .skills .skills__info {
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 48px;
    position: relative; }
    .skills .skills__info .skills__info-list {
      list-style: none;
      display: flex;
      justify-content: center;
      flex-direction: row;
      text-align: center; }
      .skills .skills__info .skills__info-list--item {
        display: inline-block;
        margin: 10px 20px 10px 20px;
        min-width: 100px;
        padding: 2em; }
        .skills .skills__info .skills__info-list--item h3 {
          margin-bottom: .5em; }
        .skills .skills__info .skills__info-list--item i {
          font-size: 3em;
          color: #6c63ff;
          transition: all .3s ease; }
          .skills .skills__info .skills__info-list--item i:hover {
            cursor: pointer;
            color: rgba(0, 0, 0, 0.7);
            transform: translateY(-10px); }
    .skills .skills__info:before {
      content: '';
      width: 70%;
      height: 100%;
      box-shadow: 0 20px 36px -4px rgba(157, 166, 186, 0.4);
      position: absolute;
      border-top-left-radius: 120px;
      border-bottom-left-radius: 120px;
      border-top-right-radius: 120px;
      border-bottom-right-radius: 120px;
      bottom: -50%;
      left: 50%;
      right: 50%;
      transform: translate(-50%, -50%);
      z-index: -99; }

.about {
  width: 100%;
  position: relative;
  transition: all .5s ease;
  text-align: center;
  padding-top: 8em;
  padding-bottom: 10em; }
  .about .about__container {
    display: grid;
    grid-gap: 2rem 4rem;
    grid-template-columns: repeat(2, 1fr);
    padding: 4em;
    background: #fff;
    box-shadow: 0 20px 36px -4px rgba(157, 166, 186, 0.4); }
    .about .about__container .card {
      display: flex;
      background: #eee;
      justify-content: space-evenly;
      align-items: center;
      height: 200px; }
      .about .about__container .card:hover {
        left: -5px;
        top: -5px;
        -webkit-box-shadow: 10px 10px 0 #6c63ff;
        box-shadow: 10px 10px 0 #6c63ff; }
    .about .about__container .about__container-item {
      text-align: left; }

footer {
  width: 100%;
  padding-top: 2em;
  position: relative; }
  footer .footer__social-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2em;
    padding: 7rem;
    position: relative; }
    footer .footer__social-container ul {
      list-style: none;
      display: flex; }
      footer .footer__social-container ul li {
        margin: 2em 1em; }
        footer .footer__social-container ul li a {
          transition: .5s ease-in; }
          footer .footer__social-container ul li a i {
            font-size: 3em;
            color: #6c63ff; }
            footer .footer__social-container ul li a i:hover {
              transform: rotate(360deg); }
  footer .footer__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Poppins", sans-serif;
  vertical-align: baseline;
  transition: all ease 0.2s; }

::selection {
  background: #111720;
  color: #fff; }

body.stripes {
  width: 100%;
  height: 100vh;
  background: url("img/bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }

.container {
  margin: 0 auto;
  max-width: 1400px; }

.bg {
  position: absolute;
  background: url("img/bg_2.svg");
  background-size: cover;
  width: 100%;
  height: 100%;
  bottom: 0;
  filter: opacity(30%);
  z-index: -999; }

.section__title {
  font-size: 2em;
  text-shadow: 1px 2px 0 #6c63ff; }

.btn {
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  padding: 1.08rem 1.1rem 1.1rem 1.1rem;
  margin: 15px 0;
  text-decoration: none;
  font-family: nimbus-sans, sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1;
  color: #fff;
  background: #6c63ff;
  border-radius: .375rem;
  -webkit-box-shadow: 0 0.25rem 0.43rem 0 var(--shadow-color);
  box-shadow: 0 0.25rem 0.43rem 0 var(--shadow-color);
  -webkit-transition: all 0.2s cubic-bezier(0.83, 0.16, 0.53, 0.65);
  transition: all 0.2s cubic-bezier(0.83, 0.16, 0.53, 0.65);
  text-shadow: none; }
  .btn span {
    margin-left: 5px; }
  .btn:active {
    outline: none; }
  .btn:hover {
    outline: none;
    cursor: pointer;
    transform: translateY(-5px); }
